.btn-wrap{
    text-align: center;
    padding: 15px 0 30px;
}
button {
    display: inline-block;
    border: 0;
    width: 150px;
    height: 32px;
    border-radius: 3px;
    margin:0 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #d7d7d7;
}